source https://nuget.org/api/v2

frameworks: net45, netcoreapp2.0, netstandard2.0

# Add the nuget packages you use here
nuget FSharp.Core 4.3.4
nuget Newtonsoft.Json >= 11

nuget NETStandard.Library.NETFramework

# This lines are used by Paket to get the latest version of the Type Provider SDK files
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Test
  source https://nuget.org/api/v2
  frameworks: net461, netcoreapp2.0

  nuget FSharp.Core 4.3.4
  nuget NUnit 3.6.1
  nuget NUnit.Console 3.6.1
  nuget NUnit3TestAdapter 3.7.0 version_in_path: true

group Example
  source https://nuget.org/api/v2

  nuget FSharp.Data.JsonProvider >= 0.4 prerelease

group Build
  source https://nuget.org/api/v2

  nuget GitVersion.CommandLine
  nuget Nuke.Common >= 0.12.0 prerelease 